body {
  background-image: url("https://paginas.seccionamarilla.com.mx/img/upload/img_993975121_1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}